{% extends 'store/main.html' %}
{% load static %}
{% block content %}
 
    <div class="row">

        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}" >
            
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <!--setting custom attribute, data-'attribute name'(product,action) and id is setted in database automatically -->
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button> <!--for update-cart class we set event handlers that identifies that this button is clicked-->
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock content %}

<!--
What the @property decorator does, is declare that it can be accessed like it's a regular property.

This means you can call full_name as if it were a member variable instead of a function, so like this:

name = person.full_name

instead of

name = person.full_name()
-->